apscheduler
deep_translator
gTTS
googlesearch-python
gpytranslate
httpx[http2]
instaloader
lexica-api
MukeshAPI
mpv
nekos.py
phonenumbers
pyfiglet
pydub
SpeechRecognition
telegraph
uuid
wget
git+https://github.com/Vivekkumar-IN/TheApi@main
